@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #cecece;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body.cursor-grab {
  cursor: url('/cursors/grab.svg') 8 8, grab;
}

body.cursor-grabbing {
  cursor: url('/cursors/grabbing.svg') 8 8, grabbing;
}

a, button, .btn {
  cursor: url('/cursors/pointer.svg') 8 8, pointer;
}
